body{font-family:'Asap Regular';}
.navbar-nav.agent_menu{
}
.navbar-nav.agent_menu li a{font-size: 14px;}  
.navbar-nav.agent_menu>li>a {font-size: 14px;padding: 8px 8px;}   
.navbar-nav.agent_menu li a .fa{color:#666;}
.nav-tabs.tabstab {}
.searcharea { padding: 15px 0px; }
.info-box-icon .fa{color:#fff;}
.sidebar-menu .treeview-menu{margin-top:0px;}
.navbar-nav.agent_menu .bg-blue{background:#0098cf !important;}
.navbar-nav.agent_menu .bg-blue a, .navbar-nav.agent_menu .bg-blue a .fa{color:#fff !important;}
.main-header > .navbar .navbar-nav > li > a strong{font-weight:normal;}
.bookbuss .bookallbtn{float:right;}
.skin-black-light .main-header .logo{
    border:0;
    margin-right: 0;
    min-width: auto;
    padding: 5px 0;
    width: 200px;
    height: 60px;
    }
.inlabl_name{color: #999;
    display: block;
    font-size: 13px;
    margin: 0 0 2px;
    overflow: hidden;}
.b2b_agent_profile .labrti{line-height: normal;}

.tnlepasport_b2b{}
.tnlepasport_b2b .paspolbl{display: block;
    font-size: 14px;
    margin: 0 0 5px;
    overflow: hidden;
    width: 100%;}
.panel_custom_heading{}
.panel_title{}
.panel_bdy{background: #fff none repeat scroll 0 0;
    float: left;
    padding: 15px;
    width: 100%;}
.panel_inside{}
.panel_selcts{}
.section_deposite {
    margin-top: 10px;
}
.nav.nav-tabs.b2b_navul{border:0;}
.nav.nav-tabs.b2b_navul li{}
.nav.nav-tabs.b2b_navul li a{background:#dcdcdc; color: #333;
    font-size: 15px;}
.nav.nav-tabs.b2b_navul li.active a{background:#fff;}
.nav.nav-tabs.b2b_navul li a .fa, .nav.nav-tabs.b2b_navul li a .glyphicon{color:#fff;margin-right:5px;}
.panel_selcts.selctmark_dash::after{bottom: 1px;
    right: 1px;
    top: 1px;}
.selctmark_dash{position:relative;}
.selctmark_dash::after{content:"\f078";background:none repeat scroll 0 0 #fff;bottom:0;color:#999;font-family:"Font Awesome 5 Pro";font-size:12px;line-height:40px;pointer-events:none;position:absolute;right:0;text-align:center;top:0;width:30px;}
.normalsel_dash{border: 1px solid #ddd;
    display: block;
    height: 40px;
    overflow: hidden;
    width: 100%;}
.panel_bdy legend{padding:0 0 10px;}
.panel_title_bak{background: #fff none repeat scroll 0 0;
    border-bottom: 1px dashed #ddd;
    float: left;
    font-size: 14px;
    padding: 15px;
    width: 100%;}
.set_wraper{background: #fff none repeat scroll 0 0;
    display: block;
    overflow: hidden;
    padding: 0 15px;}
.name_user_down{color: #fff;
    display: block;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 0;}
.aciv_mber{display:block;overflow:hidden;text-align:center;color:#999;}
.full_logout{overflow: hidden;
    text-align: center;}
.navbar-nav > .user-menu > .dropdown-menu > .user-body a.flt_btn {
    color: #5372b1 !important;
}

.extra_content{background: #fff none repeat scroll 0 0;
    float: left;
    padding: 15px;
    width: 100%;}
    
.searc_fliter_all{}
.list_of_sections a{background: #fff none repeat scroll 0 0;
    border: 1px solid #eeeeee;
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 #ccc;
    color: #666;
    float: left;
    font-size: 14px;
    margin: 5px;
    padding: 5px 10px;} 
.list_of_sections a.active, .list_of_sections a:hover{background: #009edb none repeat scroll 0 0;
    border: 1px solid #009edb;
    color: #fff;}
.filter_heading {
    color: #666;
    display: block;
    font-size: 16px;
    margin: 0 0 5px;
    overflow: hidden;
}
.serch_area_fltr{border-bottom: 1px dashed #ddd;
    float: left;
    margin: 0 0 15px;
    width: 100%;}

.skin-black-light .main-header > .navbar{float:right;margin:0;}
header.main-header {
    background: #fff none repeat scroll 0 0;
    clear: both;
    float: left;
    width: 100%;
}
.row_container .info-box{margin: 10px 0;}
.main-header .sidebar-toggle{
    font-size: 22px;
    color:#009edb;
    padding: 14px 15px;
    }
.main-header .sidebar-toggle:hover{color:#009edb;}
.content-wrapper{display: block;  overflow: auto;}
.snf_hnf{background: #f4f4f4 none repeat scroll 0 0;
    border-radius: 3px;
    color: #00a9d6;
    display: block;
    font-size: 14px;
    overflow: hidden;
    padding:0 10px;
    text-align: center;}
.priceflights{font-size:25px;}
.snf_btn{
    background: #ccc none repeat scroll 0 0;
    border-radius: 0;
    color: #333;
    float: right;
    margin: 0px 5px;
    padding: 4px 10px;
    line-height: 20px;
    }
    
.snf_btn:hover{color:#000;}
.snf_btn.active,
.snf_btn.active:hover{background: #fc901b none repeat scroll 0 0;color:#fff;}
.bustprice{font-size:18px;}
.inpadbus .snf_hnf{float:right;margin: 0 0 5px;}
.result_srch_htl .snf_hnf{display:table;margin: 0 auto;}
.search_fltr_section{background: #fff none repeat scroll 0 0;
    float: left;
    width: 100%;}

#set_balance_alert_form .checkbox [type="checkbox"]:not(:checked), 
.checkbox [type="checkbox"]:checked{left: auto;}
.row_top_fltr{border-bottom: 1px solid #ccc;
    float: left;
    padding: 0 0 10px;
    width: 100%;}
.row_top_fltr .snf_btn .fa{margin-right: 5px;}
.reset_filter{float: right;
    padding: 5px;}
.reptallt.big_brd_btm{border-bottom: 1px solid #ccc;
    margin-bottom: 10px;}
.reptallt_commisn {float: left;
    padding: 5px 0;
    width: 100%;}
.reptallt_commisn .farestybig{font-size: 14px;
    line-height: 22px;}

.fixincrmnt.fixed{width: 66%;
    width: -webkit-calc(70% + 8px);
    width: -moz-calc(70% + 8px);
    width: -o-calc(70% + 8px);
    top:0;}

.login_logo{
    background: #001832  none repeat scroll 0 0;
    border-bottom: 1px dashed #dfdfdf;
    display: block;
    overflow: hidden;
    padding: 20px 0;
    }
.login_body{display: block;
    overflow: hidden;
    padding: 20px;}
.login_box_msg{color: #444;
    display: block;
    font-size: 16px;
    overflow: hidden;
    padding: 0 0 20px;
    text-align: center;}

.login_body .form-group{float: left;
    margin: 0;
    width: 100%;}
.login_body .control-label{color: #666;
    display: block;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 0;
    text-align: left;
    width: 100%;}
.login_body .control-label .text-danger{display:none;}
.login_body .col-sm-6{display: block;
    overflow: hidden;
    padding: 0;
    width: 100%;}
.login_body .col-sm-6 .login-ip{border: 1px solid #e3e3e3;
    border-radius: 5px !important;
    box-shadow: none;
    display: block;
    font-size: 14px;
    height: 45px;
    overflow: hidden;
    width: 100%;}


.login_body .form-group .col-sm-8.col-sm-offset-4{display: block;
    margin: 0;
    overflow: hidden;
    padding: 15px 0 0;
    width: 100%;}
.login_body .form-group .btn{
    background: #ff9800 none repeat scroll 0 0;
    border: 1px solid #ff9800;
    box-shadow: 0 0 1px #fff inset;
    font-size: 18px;
    padding: 10px;
    text-transform: uppercase;
    width: 100%;
    }



.login_box_msg .fa{}
.panel_footer{background: rgba(255, 255, 255, 0.6) none repeat scroll 0 0;
    border-top: 1px dashed #eee;
    float: left;
    margin: 10px 0 0;
    padding: 10px;
    text-align: center;
    width: 100%;}

.background_login{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9ee8fa+0,ffffff+100 */
background: #9ee8fa; /* Old browsers */
background: -moz-linear-gradient(top,  #9ee8fa 0%, #ffffff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #9ee8fa 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #9ee8fa 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9ee8fa', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 0;}
.log_inner{background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0;
    border-radius: 6px;
    box-shadow: 0 0 10px -5px #000;
    display: block;
    overflow: hidden;
    position: relative;}

.background_login .busrunning {
    bottom: 0;
    margin: 0;
    position: absolute;
}

.background_login .loadcity{background: rgba(0, 0, 0, 0) url("../images/loadcity.png") repeat-x scroll left bottom;width: 200%;}


.runbus {
    animation: 15s linear 0s normal none infinite running caranimate4_login;}
@-webkit-keyframes caranimate4_login{0%{left:0;}
100%{left:100%;}
}
@-moz-keyframes caranimate4_login{0%{left:0;}
100%{left:100%;}
}
@-o-keyframes caranimate4_login{0%{left:0;}
100%{left:100%;}
}
@keyframes caranimate4_login{0%{left:0;}
100%{left:100%;}
}




.background_login .runbus2 {
    animation: 10s linear 0s normal none infinite running caranimate2_login;}

@-webkit-keyframes caranimate2_login{0%{right:0;}
100%{right:100%;}
}
@-moz-keyframes caranimate2_login{0%{right:0;}
100%{right:100%;}
}
@-o-keyframes caranimate2_login{0%{right:0;}
100%{right:100%;}
}
@keyframes caranimate2_login{0%{right:0;}
100%{right:100%;}
}



/*.flitfly {
    animation: 15s linear 0s normal none infinite running flightanimate_login;}

@-webkit-keyframes flightanimate{0%{left:0;}
20%{-webkit-transform:rotate(15deg);}
40%{-webkit-transform:rotate(20deg);bottom:80px;}
60%{bottom:80px;-webkit-transform:rotate(25deg);}
70%{-webkit-transform:rotate(30deg);}
90%{-webkit-transform:rotate(50deg);}
100%{left:100%;-webkit-transform:rotate(60deg);}
}
@-moz-keyframes flightanimate{0%{left:0;}
20%{-moz-transform:rotate(15deg);}
40%{-moz-transform:rotate(20deg);bottom:80px;}
60%{bottom:80px;-moz-transform:rotate(25deg);}
70%{-moz-transform:rotate(30deg);}
90%{-moz-transform:rotate(50deg);}
100%{left:100%;-moz-transform:rotate(60deg);}
}
@-o-keyframes flightanimate{0%{left:0;}
20%{-o-transform:rotate(15deg);}
40%{-o-transform:rotate(20deg);bottom:80px;}
60%{bottom:80px;-o-transform:rotate(25deg);}
70%{-o-transform:rotate(30deg);}
90%{-o-transform:rotate(50deg);}
100%{left:100%;-o-transform:rotate(60deg);}
}
    
@keyframes flightanimate_login{0%{left:0;}
20%{transform:rotate(15deg);}
40%{transform:rotate(20deg);bottom:80px;}
60%{bottom:80px;transform:rotate(25deg);}
70%{transform:rotate(30deg);}
90%{transform:rotate(50deg);}
100%{left:100%;transform:rotate(60deg);}
}*/

.background_login .reltivefligtgo {/* height: 200px; */}

.insidebosc .fixincrmnt, .insidebosc .fixincrmnt.fixed {
    bottom: 0;
    box-shadow: 0 -1px 10px -5px #000;
    left: 0;
    position: fixed;
    right: 0;
    top: auto;
    width: 100%;
    z-index: 1000;
}
.search-result.onlyfrflty {
    padding-bottom: 50px;
}
.filterforall.addtwofilter.fixed {
    margin-top: 0;
}


.prev_next_date{display: table;
    margin: 0 auto 10px;
    overflow: hidden;
    padding: 5px;
    text-align: center;}
.btn_dates{background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    border-radius: 3px;
    color: #555;
    float: left;
    font-size: 14px;
    padding: 6px 15px;}
.datevery{float: left;
    font-size: 14px;
    margin: 0 20px;
    padding: 6px 10px;}
.btn_dates .fa.fa-angle-left{margin-right: 8px;}
.btn_dates .fa.fa-angle-right{margin-left: 8px;}





.agent_regpage{background: #f1f1f1 none repeat scroll 0 0;
    float: left;
    width: 100%;}
.agent_regtr{display: block;
    margin: 0 auto;
    overflow: hidden;
    padding: 30px;
    width: 70%;}
.agentreg_heading{color: #333;
    display: block;
    font-size: 22px;
    margin: 0 0 10px;
    overflow: hidden;
    padding: 10px 0;
    position: relative;
    text-align: center;}
.gobacklink{background: #fff none repeat scroll 0 0;
    border-radius: 30px;
    font-size: 14px;
    padding: 7px 18px;
    position: absolute;
    right: 0;}
.each_sections{background: #fff none repeat scroll 0 0;
    border: 1px solid #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px -8px #000;
    float: left;
    margin: 15px 0;
    width: 100%;}
.sec_heading{background: #f5f5f5 none repeat scroll 0 0;
    border-bottom: 1px solid #eee;
    border-radius: 5px 5px 0 0;
    display: block;
    font-size: 20px;
    font-weight: 300;
    overflow: hidden;
    padding: 15px;}
.inside_regwrp{display: block;
    overflow: hidden;
    padding: 15px;}
.wrap_space{display: block;
    margin: 10px;
    overflow: hidden;}
.label_form{color: #555;
    display: block;
    font-size: 15px;
    margin: 0 0 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;}
    .select_wrap::after {
        content: "\f078";
        background: #fff none repeat scroll 0 0;
        bottom: 1px;
        color: #999;
        font-family: "Font Awesome 5 Pro";
        font-size: 12px;
        line-height: 42px;
        pointer-events: none;
        position: absolute;
        right: 1px;
        text-align: center;
        top: 1px;
        width: 30px;
        height: 33px;
    }
.select_wrap{float:left; position:relative; width:100%;}
.select_form{border: 1px solid #e3e3e3;
    float: left;
    font-size: 16px;
    height: 45px;
    padding: 0 10px;
    width: 100%;}
.noborderit{border-right:1px solid #fff;}
.div_wrap{}
.input_form{border: 1px solid #e3e3e3;
    box-shadow: none;
    float: left;
    font-size: 16px;
    height: 45px;
    line-height: 43px;
    padding: 0 10px;
    width: 100%;
}
.input_textarea {
    border: 1px solid #e3e3e3;
    box-shadow: none;
    float: left;
    font-size: 16px;
    height: 45px;
    padding: 10px;
    width: 100%;
}
.upload_wrap{}
.uplod_image{background-color: #eee;
    background-size: cover;
    display: block;
    height: 138px;
    overflow: hidden;
    position: relative;}
.hideupload{bottom: 0;
    cursor: pointer;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 10;}
.select_form.invalid-ip, .input_form.invalid-ip {
   
    box-shadow: none;
}
.submitsection {
    display: block;
    margin: 0px 0;
    overflow: hidden;
}
.acceptrms{position: relative;}
.acceptrms .formerror {
    position: absolute;
    width: 226px;
}
.btnreg_agent {
    background: #009edb;
    border: 1px solid #009edb;
    border-radius: 3px;
    color: #fff;
    float: left;
    font-size: 20px;
    margin: 20px 0;
    padding: 15px 50px;
}
.srchinarea .secndblak { /*background:#434343; */padding:15px 0px;background:#009edb!important;}
.agent_error{background: #eee none repeat scroll 0 0;
    border-radius: 4px;
    color: #ec4658;
    font-size: 11px;
    padding: 8px 10px;
    position: absolute;
    right: 10px;
    top: -13px;}
.agent_error::after{content:"\f0d7";
    bottom: -25px;
    color: #eee;
    font-family: "Font Awesome 5 Pro";
    font-size: 30px;
    position: absolute;
    right: 20px;}







@media(max-width:991px){
.main-header > .navbar .navbar-nav > li > a .none_lables{display:none;} 
.main-header .logo {
    margin-right: 0;
    max-width: 230px;
    min-width: auto;
    width: auto;
}

.navbar-custom-menu .navbar-nav > li.balane_msgs, 
.navbar-custom-menu .navbar-nav > li.dash_nav_menu, 
.navbar-custom-menu .navbar-nav > li.tasks-menu, 
.navbar-custom-menu .navbar-nav > li.notifications-menu{display:none;}
.row_bookings_section{margin: 0 -30px;}

}

@media(max-width:768px){
.info-box-icon{font-size: 25px;width: 40px;}
.info-box-content{margin-left: 40px;}
.skin-black-light .main-header > .navbar{width: auto;}
.skin-black-light .main-header .logo{float:left;}
}

@media(max-width:650px){
.agent_regtr{width:100%;}
}
@media(max-width:600px){
.hided_whn{display:none}
.divinsidefltr, .insidemyt{width:100%;}
}



@media(max-width:500px){
.nav > li.normal_srchreali{display:none;}
.onlyfrflty .snf_btn{display:none;}
.agent_regtr{padding: 15px 0;}
}

@media(max-width:420px){
.row_bookings_section .col-xs-6{width:100%;}
.products-list .product-info {margin-left: 20px;}
.agentreg_heading{font-size:18px;}
}

@media(max-width:360px){
.smaltext{font-size:12px;}
.inside_regwrp{padding:0;}
}

/*Agent signup -sudheep*/
.agent_signup{
    background: #9acd32 none repeat scroll 0 0;
    text-align: center;
}




.mymodel .modal-content{border: 1px solid #dddddd;}
.mymodel .modal-header{background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #333333;}
.centcheck.fa{color: #00af50;
    display: table;
    font-size: 30px;
    margin: 0 auto;}
.mymodel .modal-title{color: #666666;
    margin: 10px 0 0;
    text-align: center;}
.detahd{color: #666666;
    display: block;
    font-size: 17px;
    font-weight: normal;
    margin: 0 0 10px;}
.orderli{color: #666666;
    font-size: 14px;}
.orderli li {
    margin: 0 0 5px;
}
.noticep{ background: #f0f0f0 none repeat scroll 0 0;
    border-radius: 3px;
    color: #666666;
    display: block;
    font-size: 14px;
    font-weight: normal;
    margin: 20px 0;
    padding: 10px;}
.noticep > a {
     display: block;
    font-size: 16px;
}
.addresspoint {
     color: #666666;
    font-size: 14px;
    line-height: 22px;
    margin: 0;
    padding-left: 40px;
}
.agentmyn{ background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    position: relative;
    z-index: 1;}
.newaddtab::after {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}
.agentmyn .agentreg_heading{ color:#fff;}
.agentmyn  .lbllbl, .agentmyn  .lbllbl a{ color:#fff;}
.sec_heading > strong {
    background: #00c5e0 none repeat scroll 0 0;
    border-radius: 30px;
    color: #ffffff;
    display: block;
    float: left;
    height: 40px;
    line-height: 40px;
    margin-right: 15px;
    text-align: center;
    width: 40px;
}
.agentmyn .sec_heading{ line-height:40px;}


.rating, .rating-no {
    unicode-bidi: bidi-override;
    direction: rtl
}
.rating span.star, .rating-no span.star {
    font-family: "Font Awesome 5 Pro";
    font-weight: 600;
    font-style: normal;
    display: inline-block
}
.rating-block span.star {
    display: block
}
.rating span.star:hover, .rating-no {
    cursor: pointer
}
.rating span.star:before, .rating-no span.star:before {
    content: "\f005";
    padding-right: 1px;
    color: #777
}
.rating span.star:hover:before, .rating span.star:hover ~ span.star:before, .rating-no span.star.active:before, .rating-no span.star.active ~ span.star:before {
    content: "\f005";
    color: #fc901b
}
.newslterinput {margin-bottom: 8px;}
.labltowr {margin-top: 10px; margin-bottom: 10px;}
.labltowr.noxtra small { margin-top: 2px; display: inline-block;}
.b-r-0 {border-radius: 0px!important;}
.skin-black-light .main-header>.navbar .nav>li.bg-blue>a:hover, .skin-black-light .main-header>.navbar .nav>li.bg-blue>a:focus {
    background: #0096cf; }
footer::before { display: none; }
.jumbotron {
    padding: 48px 30px;
}
.snf_btn .fa-tag {margin-right: 4px;}
.insidebosc .fixincrmnt  .airlinename, .insidebosc .fixincrmnt.fixed .airlinename { padding: 0; }
.rit_summery .insiefare {margin: 0; }
.rowresult.col-xs-4 .loc_see.refund {right: 11px;bottom: -4px;}
.result_srch_htl .r-r-i.col-xs-4 .snf_hnf {float: right;}
.rowresult.col-xs-4 .madgrid.forhtlpopover {height: 355px;}
.snf_hnf {font-weight: 500;line-height: 20px;}
.rowresult.col-xs-4 .celhtl.width30 { width: 100%;}
.result_srch_htl .snf_hnf {margin: 0 auto 8px;}
.result_srch_htl .r-r-i.col-xs-4 .snf_hnf {margin: 0 auto;}
.result_srch_htl .r-r-i.col-xs-4 .snf_hnf {
    margin: 0 auto;
    position: absolute;
    left: 0;
    bottom: -23px;
}
.booking-price { padding: 12px 20px 15px 20px; float: left;width: 100%;}
span.netfare {
    background: #f4f4f4 none repeat scroll 0 0;
    border-radius: 3px;
    color: #00a9d6;
    display: block;
    font-size: 14px;
    overflow: hidden;
    padding: 3px 10px;
    text-align: center;
    line-height: 20px;
    float: left;
    margin: 8px 0 0;
    position: relative;
}
.price-amount-l {margin-top: 5px;}
.ondet {
    position: absolute;
    right: 0;
    top: 5px;
}
.txtR .net-fare-tag {
    margin-top: 3px;
}
.txtR.mas.line {
    margin: 0 5px !important;
}
.maxwdt { max-width: 350px; margin:0 auto; border:none !important;box-shadow: none;-webkit-box-shadow:none; }
.packgtr .inlitp {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #eee;
    display: block;
    margin: 10px 0;
    overflow: hidden;
    padding: 10px;
    max-height: 525px;
}
.packgtr .tpimage {
    display: block;
    height: 200px !important;
    overflow: hidden;
}
.packgtr .tpimage img {
    height: 200px !important;
    max-width: 100%;
    width: 100%;
}
.packgtr .tpcontent {
    height: 190px;
    overflow: hidden;
  /*  overflow-y: scroll;*/
    padding-bottom: 10px;
    margin-top: 10px;
}
.packgtr .tptitle {
    color: #444;
    font-size: 16px;
    font-weight: normal;
    line-height: 22px;
    margin: 0;
    padding: 10px 0;
}
.packgtr .tpcontent::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #fff;
}

.packgtr .tpcontent::-webkit-scrollbar {
    width: 6px;
    background-color: #fff;
}

.packgtr .tpcontent::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
}
.packgtr .pricebolk { margin:0;}
.skin-black-light .main-header>.navbar .navbar-custom-menu .navbar-nav>li>a {border: none;}
.balane_msgs {
    text-align: right;
    background: #009edb;
    padding: 2px 13px;
    border-radius: 0 0 0 20px;
    max-width: 670px;
    margin: 0 0 0 auto;
}
.balane_msgs a {
    color: #f5f5f5;
}
.balane_msgs >strong span{color: #fff!important;}
.balane_msgs a > strong {
    font-weight: 500;
    padding: 0 5px;
    
}
.balane_msgs a > strong span.crncy {
    /* font-weight: 600; */
    color: #fff;
    font-size: 14px;
}
.main-sidebar, .left-side {padding-top: 60px; }
.skin-black-light .main-header>.navbar .navbar-custom-menu .navbar-nav>li>a::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 22px;
    background: #dedede;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.skin-black-light .main-header>.navbar .navbar-custom-menu .navbar-nav>li.bg-blue>a::before {
    background: #0098cf;
}
.cancellation_page .bigdate_book {font-size: 28px; line-height: 64px;}
@media (min-width:992px) and (max-width:1199px){
.skin-black-light .main-header .logo {width: 161px;}
.navbar-nav.agent_menu>li>a { padding: 15px 6px;}
.navbar-nav.agent_menu li a .fa {display: none;}
.navbar-nav.agent_menu>li>a { font-size: 13px; }
.info-box-content {margin-left: 60px;}
.info-box-icon {width: 60px;font-size: 34px;}
.row_bookings_section > .col-sm-6.col-xs-6 {padding: 0 10px;}
.row_bookings_section {margin: 0 -10px;}
.nav-tabs.tabstab { margin: 0px auto 20px;}
.searcharea {padding: 0;}
}
.allformst .nav-tabs.tabstab > li > a label{
    top: 37px;
    left: 0;
    right: 0;}
.allformst{box-shadow: none;}
.searchsbmtfot{float: left;}
.fc-toolbar .fc-left{/*padding: 5px 10px;*/}
/*.fc-toolbar .fc-right{padding: 5px 10px;}*/
.fc-toolbar .fc-right{background-color: #ffffff!important;}
.formlabel{padding-left: 15px;}

.allformst .nav-tabs.tabstab > li > a label {
    font-weight: normal;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 12.5px;}
    .ui-datepicker-calendar thead{background-color: #fff!important;color: #000!important;}
   .btn-default:hover{background-color: #009edb!important;color: #fff!important;}
    button.close{padding: 10px 8px!important;}
    .btn-default{    color: #fff!important;
    background-color: #009edb!important;
    border-color: #009edb!important;}
    .form-control{border-radius: 5px!important;}
    .hoteloctnf{margin: 0px!important;}
    .fc-content-skeleton thead{background-color: #eeeff1!important;}
    .fare_cal .fc-ltr .fc-basic-view .fc-day-number {
  font-size: 14px!important;}
  #flight_form .totlall{/*margin: 0px 9px!important;*/}
  #flight_form .searchsbmtfot{float: left!important;}
  .baggage_meal_details > ul li a::before{border-radius: 50%;
    box-shadow: none;
    content: "";
    height: 16px;
    left: -20px;
    position: absolute;
    top: 9px!important;
    width: 16px;
    background: #fff;
    border: 1px solid #ddd;}
    .active .btn.btn-sm.btn-default {
    background: rgb(33, 150, 243) !important;
    color: #505565!important;
    border: 1px solid rgb(33, 150, 243);
    }
    
.fare_cal .fc button{text-transform: capitalize;background: #009edb!important;border:1px solid #009edb;border-radius:8px;box-shadow:none;color:#fff;font-size:14px;height:35px;padding:0;width:80px;}
#flight_form .select2-container--default .select2-selection--single .select2-selection__rendered:focus{outline: none!important;}  
#flight_form .select2-container--default .select2-selection--single .select2-selection__rendered:focus-within{outline: none!important;} 
#flight_form .select2-container--focus{outline: none!important;}
#flight_form .select2:focus {outline: none!important;border: none!important;} 
#flight_form .select2-container:focus {outline: none!important;border: none!important;}
#flight_form .select2-container--default:focus {outline: none!important;border: none!important;}
#flight_form .select2-container--above:focus {outline: none!important;border: none!important;}
#flight_form .select2:focus-within{outline: none!important;} 
#flight_form .select2-container:focus-within{outline: none!important;} 
#flight_form .select2-container--default:focus-within{outline: none!important;} 
#flight_form .select2-container--above:focus-within{outline: none!important;} 
#flight_form .select2-container--focus{outline: none!important;} 
.baggage_meal_details .pasngrinput {
    padding: 10px 10px!important;
}
#pre_booking_form .form-control{border-radius:0px!important;}
.reglognorml .fa:focus, .fa:hover {
    color: #666;
}
#auto_suggest_booking_id_form .form-group{margin-right: 5px;}

.btn-warning{background-color: #ff7800!important;
    border-color: #ff7800!important;}
.btn-success {background-color: #009edb!important;
    border-color: #009edb!important;}
    .table-bordered>tbody>tr>th, 
    .table-bordered>tfoot>tr>th, 
    .table-bordered>thead>tr>th {background: #009edb!important;color:#fff!important;}
    .agnt-all{padding: 0px!important;}
    .agnt-all .nav-tabs.tabstab > li > a label {
    top: 0px!important;
    left: 30px!important;
    right: 0;}
    .nav-tabs.agent > li > a {
        display: block;
        min-width: 115px!important;
        padding: 0 5px!important;
        text-align: center;
    }
    .agent{background: #fff!important;}
    .agnt-all{background: transparent!important;}
    
 .custom01 {
    float: right;
}   
.custom01 input[type="radio"] {
	display: none;
}
.custom01 label {
    position: relative;
    display: inline-block;
    padding: 3px 10px 3px 24px;
    cursor: pointer;
    font-weight: 400;
    font-size: 15px;
}
.custom01 label::before {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    width: 18px;
    height: 18px;
    margin-top: -8px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 100%;
}
.custom01 input[type="radio"]:checked + label::after {
    position: absolute;
    content: '';
    top: 50%;
    left: 4px;
    width: 10px;
    height: 10px;
    margin-top: -4px;
    background: #3498db;
    border-radius: 100%;
}

.logo {
    left: 0%;
}
.smalway .radio-item label:before {
    display: none;
}
.smalway .radio-item input[type=radio]:checked+label:after {
    display: none;
}
.madgrid .tmx-label {
    background: #d3e1ff;
    padding: 10px;
    color: #000;
}
.suplrgstr.submitsection {
    padding: 0 10px;
}
.agentmyn .suplrgstr.submitsection .lbllbl a, .agentmyn .suplrgstr.submitsection .lbllbl{
    color: #000;
}
.suplrgstr.submitsection .btnreg_agent{
    text-align: center;
    float: none;
}
.advncpnl button{
    margin-left: 5px;
}
/*#flight_search_result .round-domestk .detailsflt{width: 25%!important;}*/
#googleMap .gm-style .gm-style-iw-tc::after{display: none!important;}
#googleMap .gm-style .gm-style-iw-tc{display: none!important;}